<!-- main display of selected news articles -->

<% include ../partials/boilerplate %>

<div class='app-header'>
  <h1>News Bubble</h1><br>
    <div class="nav-buttons">
     <a class="nav-button" href='/sources/add/'>Add News Source</a>
     <a class="nav-button" href='/auth/logout/'>Logout</a>
    </div>
</div>
<main>

  <h2>Inside The News Bubble</h2>

<!-- // loop to create  display of the user's selected news articles -->

    <% for (let source of data) { %>

      <div class="news-articles">
          <h4>Source: <%= source.source %></h4>
          <div class="article" id="title"><%= source.title %></div><br>
          <div class="article" id="urlToImage"><img src="<%= source.urltoimage %>"></div>
          <div class="article" id="description"><%= source.description %></div><br>
          <div class="article" id="url"><a href="<%= source.url %>" target="_blank">Read the whole article</a></div><br>
          <form method='POST' action='/sources/<%= source.id %>?_method=DELETE'>
          <input id="remove-button" type='submit' value='DONE / DELETE' />
          </form>
      </div>

    <% } %>
  </div>

<% include ../partials/end %>
