<!-- main list of selected news sources -->

<% include ../partials/boilerplate %>

<div class='app-header'>
  <h1>News Bubble</h1><br>
</div>
<main>

  <h2>Your News Bubble</h2>

    <% for (let source of data) { %>

      <div class="news-articles">
          <h4>Source: <%= source.source %></h4>
          <div class="article" id="title"><%= source.title %></div><br>
          <div class="article" id="urlToImage"><img src="<%= source.urltoimage %>"></div>
          <div class="article" id="description"><%= source.description %></div><br>
          <div class="article" id="url"><a href="<%= source.url %>" target="_blank">Read the whole article</a></div><br>
          <form method='POST' action='/sources/<%= source.id %>?_method=DELETE'>
          <input id="remove-button" type='submit' value='DONE / REMOVE' />
          </form>
      </div>

    <% } %>
  </div>

<!-- <a class="nav-button" href='/sources/add/'>Update Bubble</a> -->

<% include ../partials/end %>
